<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LOGIN</title>
    </head>
    <body>
        <form action="/login" method="POST">
            <label for="email"> </label>
            <input type="text" name="email" id="email" placeholder="enterprise email id">
            <label for="password"></label>
            <input placeholder="password" type="password" name="password" id="password">
            <button>Login</button>
            <button>
                <a href="/register"> Register</a>
            </button>
        </form>
    </body>
</html>