<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
    </head>
    <body>
        <form action="/register" method="POST">
            <input  type="text"  required name="name" placeholder="Name">
            <input  type="text"  required name="opco" placeholder="operating company">
            <input type="text" name="email" id="email" placeholder="Enterprise email id">
            <label for="password"></label>
            <input placeholder="password" type="password" name="password" id="password">
            
            <button>Register</button>
            <button>
                <a href="/login"> Login</a>
            </button>
        </form>
    </body>
</html>