body{
    background-color: #F2F3FE;
}
.dropdown-toggle{
    color: blue; background-color:transparent; width : 140px; 
 }
  

    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
         
        background-color: #6c63ff;
        border-color: #6c63ff;
    }
    
    

.float-child {
   font-family: 'Montserrat';
    float: left;
   padding-left: 10px;
     margin-top: 10px;
     position: relative;
}  

.form-control   {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: blue;
  }

    #heading{
    margin-top: 41px;
    float: left;
    color: #5059E2;
    text-shadow:  1px 1px 1px #5059E2;
    border-bottom: 3px solid #5059E2;
    padding-bottom: 7px;
    border-bottom-style: solid;
    margin-left: 166px;
    font-family: 'MONTSERRAT';
    position: absolute;
   }
  
   #addimg {
    float: right;
    /* margin-left: 315px; */
    height: 350px;
    /* left: 15px; */
    margin-top: -262px;
    position: sticky;
    width: 350px;
}

.fromimg{
    margin-top:20px;
    margin-left: 10px;
    float: left;
}

.myrow{
    margin-top: 10px;
}

.form-control {
    display: block;
    width: 64%;
    height: 34px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: black;
    background-color: #F2F3FE;
    background-image: none;
    border-top-style: hidden;
    border-left-style: hidden;
    border-radius: 0%;
    border-bottom-width: medium;
    border-color: #5059E275;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: blue;
    font-weight: 400;
}
.form-control::-webkit-input-placeholder { color: #6c63ff; font-weight: 100; text-align: center; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #6c63ff; font-weight: 100; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #6c63ff; font-weight: 100; text-align: center;}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #6c63ff; font-weight: 100; text-align: center; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #6c63ff; font-weight: 100; text-align: center; }  /* Microsoft Edge */

.centered {
    position: absolute;
    top: 44%;
    left: 39%;
    transform: translate(-50%, -50%);
    font-family: 'MONTSERRAT';
    color:white;
    font-size: 20px;
  }
  .row {
    margin-right: -15px;
    padding: 0px;
    padding-left: 0;
    margin-left: -15px;
}

#yoyo
{
    margin-top: 24px;
    margin-left: 413px;
    width: 34%;
}
