body{
  background-color: #F2F3FE;
  background-image: url("../image/Path\ 179.png");
  background-repeat: no-repeat;
  background-position-x: right;

  background-attachment: fixed;
  background-size: 50% 115%;
  overflow-x: hidden;
 
  
}



.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 8%; /* Set the width of the sidebar */
  font-family: 'Montserrat';
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #6c63ff; /* Blue */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0%;
  width: 50px;
  margin-top: 15px;
}
/* Style page content */
.main {
  /* margin-left: 11%; Same as the width of the sidebar */
  padding: 0px 10px;
}

.main h1{
color: #323335;
}

h1, h2, h3, h4, h5, h6{
color: black;
}


ul {
list-style-type: none; /* Remove bullets */
padding: 0; /* Remove padding */
margin: 0; /* Remove margins */
}
#my-img:hover {
content: url('../image/Component\ 3\ –\ 10\ \(Hover\ State\).png');
}



#my-img2:hover {
content: url('../image/Component\ 4\ –\ 19\ \(Hover\ State\).png');
}
#my-img3:hover {
content: url('../image/leadh.png');
}
#my-img4:hover {
content: url('../image/checked.png');
}
#my-img5:hover {
content: url('../image/Component\ 5\ –\ 10\ \(Hover\ State\).png');
}







@media screen and (max-width: 1441px){

.sidenav{
  width: 10%;
}
.main{
  margin-left: 13%;
}
}

@media screen and (max-width: 1025px){

.sidenav{
  width: 8%;
  height: 100%;
}

.sidenav img{
  padding-top: 300%;
}
.main{
  /* margin-left: 14%; */
  margin-left: 9%;
  height: 100%;
}
.cards img{
  width: 15%;
}
.cards{
  width: 50%;
}

.col-xl-3{
  padding-bottom: 20%;
}
.row{
  justify-content: center;
}
}

@media screen and (max-width: 768px) and (min-width: 576px){
.btn-style{
  width: 82px;
}
}

@media screen and (max-width: 415px){

.sidenav{
  width: 20%;
}

.sidenav a{
  padding: 6px 8px 6px 10px;
}
.sidenav img{
  padding-top: 11px;
}

.main{
  margin-left: 20%;

}
}

@media screen and (max-width: 321px){
.sidenav img{
  width: 100%;
  padding-top: 270%;
}

.sidenav{
  width: 14%;
}
}

@media screen and (max-width: 281px){

.btn-style{
  width: 125px;
  height: 32px;
}
}
#Analytics{
display: none;
}
#Add_lead{
display: none;
}
#lead_submitted{
display: none;
}
#lead_assigned{
display: none;
}

/******************PROFILE**********************/

.alertbtn 
{
  background-color: #F04705;
  border-color: #F04705 ;
  color: #ffffff;
  margin-left: 90%;
  margin-top: 10%;
  width: 10%;
  height: 80%;
  border-radius: 10px;
}

.profileimg 
{
  height: 40%;
  width: 20%;
  margin-top: 10%;
}

.det h1
{
  font-size: 180%;
  font-family: Monsterrat Regular;
  margin-left: 28%;
  margin-top: -18%;
  color: #6c63ff;
}


.det img 
{
  width: 20%;
 
  margin-top: -2%;
  margin-left: 28%;
}

.det2 h1
{
  font-size: 180%;
  font-family: Monsterrat Regular;
  margin-left: 28%;
  margin-top: 1%;
  color: #6c63ff;
}

.det2 img 
{
  width: 20%;
 
  margin-top: -2%;
  margin-left: 28%;
}

.det3 h1
{
  font-size: 180%;
  font-family: Monsterrat Regular;
  margin-left: 28%;
  margin-top: 1%;
  color: #6c63ff;
}


.det3 img 
{
  width: 20%;

  margin-top: -2%;
  margin-left: 28%;
}


.pclip 
{
  width: 50%;
  height: 9%;
  margin-left: 60%;
  margin-top: -56%;
}

.pclip2 
{
  width: 50%;
  height: 9%;
  margin-left: 10%;
  margin-top: 4%;
}

/**********************************ANALYTICS**********************/
.labl{
  margin-top: 10%;
  display: block;
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  font-size: 2rem;
  margin-left: 2%;
}
.y_m{
  display: block;
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  font-size: 1.5rem;
  margin-left: 2%;
}
.lable{
  margin-top: 3%;
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  font-size: 2rem;
  margin-left: 2%;
}
.leads_sub{
  
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  width: 2.3%;
  font-size: 1.5rem;

}
.lable1{
  
  margin-top: 3%;
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  font-size: 2rem;
  margin-left: 2%;
}
.leads_sub1{
  
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  width: 2.3%;
  font-size: 1.5rem;
}
.lab{
  margin-top: 5%;
  display: block;
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  font-size: 2rem;
  margin-left: 2%;

}

.barChart {
  position: absolute;
  margin-left: 45%;
  margin-top: 5%;
  height: 40%;
  width: 40%;
  padding: 10px;
  box-shadow: 10px 10px 20px #505ae250;
  border-radius: 20px;
  background-color: #fff;
}
.barChart1 {
  position: absolute;
  margin-left: 0%;
  margin-top: 5%;
  height: 40%;
  width: 40%;
  padding: 10px;
  box-shadow: 10px 10px 20px #505ae250;
  border-radius: 20px;
  background-color: #fff;
  
}


.pieChart {
  position: absolute;
  margin-left: 30%;
  margin-top: -20%;
  height: 40%;
  width: 40%;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #505ae250;
  background-color: #fff;
}
.clipart_3{

  width: 550px;
  float: right;
  margin-top: -15%;
  margin-right: -120px;

}


/**********************************ADD LEAD CSS**********************/

.addlead
{
    width:30%;
    height: 20%;
    margin-top: 40px;
}
.dropdown-toggle{
  color: #5059E2; background-color:transparent; width : 140px; 
  margin-left: 100px;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: 5px 5px 10px #505ae298;
}

.dropdown-toggle:hover{
  background-color: #6c63ff;
}


.dropdown-toggle::-webkit-input-placeholder { color: #ffffff; }  /* WebKit, Blink, Edge */
.dropdown-toggle:-moz-placeholder { color: #ffffff;}  /* Mozilla Firefox 4 to 18 */
.dropdown-toggle::-moz-placeholder { color: #ffffff;}  /* Mozilla Firefox 19+ */
.dropdown-toggle:-ms-input-placeholder { color: #ffffff;}  /* Internet Explorer 10-11 */
.dropdown-toggle::-ms-input-placeholder { color: #ffffff; }  /* Microsoft Edge */



  /*.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
       
      background-color: #5059E2;
      border-color: #5059E2;
  }*/

.btn-primary
{
  color:#ffffff;
  border-radius: 20px;
  margin-left: 6%;
}

.segment2
{
  background-color: transparent;
}
  
.search
{
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 0px;
} 

.file1
{
  margin-left: 75%;
  
}

.float-child {
 font-family: 'Montserrat';
  float: left;
 padding-left: 10px;
   margin-top: 10px;
   position: relative;
}  

.form-control   {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: blue;
  margin-top: 20px;
}
.area
{
  position: absolute;
  margin-left: 255px;
  margin-top: -150px;
  background-color: #F2F3FE;
  width:400px;
  height: 200px;
  border-color: #6c63ff;
  border-radius: 10px ;
  font-family: Monsterrat;
  font-size: 20px;
  color: #F04705;

}

.area:hover{
  border-radius: 10px;
  border-color: #6c63ff;
}
.grp20
{
  margin-top: 20px;
  margin-left: 0%;
}

.g202
{
  width: 250px;
  margin-top: -60%;
  margin-left: 35%;
}

.g201
{
  width: 250px;
}

.previous
{
margin-top: -10px;

height: 25px;


}

.pos 
{
  margin-left: -80px;
  margin-top: -120px;
  
  
}


  #heading{
  margin-top: 80px;
  float: left;
  color: #5059E2;
  text-shadow:  1px 1px 1px #5059E2;
  border-bottom: 3px solid #5059E2;
  padding-bottom: 7px;
  border-bottom-style: solid;
  margin-left: 166px;
  font-family: 'MONTSERRAT';
  position: absolute;
  margin-left:50px;
 }


 #addimg {
  float: right;
  /* margin-left: 315px; */
  height: 450px;
  /* left: 15px; */
  margin-top: -200px;
  position: absolute;
  width: 500px;
}



.fromimg{
  margin-top:20px;
  margin-left: 10px;
  float: left;
}

.myrow{
  margin-top: 10px;
}

.form-control {
  display: block;
  width: 64%;
  height: 34px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: black;
  background-color: #F2F3FE;
  background-image: none;
  border-top-style: hidden;
  border-left-style: hidden;
  border-radius: 0%;
  border-bottom-width: medium;
  border-color: none;
  
  
}


.form-control1 {
  display: block;
  width: 64%;
  height: 34px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: black;
  background-color: #F2F3FE;
  background-image: none;
  border-top-style: hidden;
  border-left-style: hidden;
  border-radius: 0%;
  border-bottom-width: medium;
  border-color: none;
  
  
}

.customer
{
  margin-top: 60px;
 
}


.lid 
{
  margin-top: -60px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: blue;
  font-weight: 400;
}
.form-control::-webkit-input-placeholder { color: #6c63ff; font-weight: 100; text-align: center; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #6c63ff; font-weight: 100; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #6c63ff; font-weight: 100; text-align: center;}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #6c63ff; font-weight: 100; text-align: center; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #6c63ff; font-weight: 100; text-align: center; }  /* Microsoft Edge */

.centered {
  position: absolute;
  top: 44%;
  left: 39%;
  transform: translate(-50%, -50%);
  font-family: 'MONTSERRAT';
  color:white;
  font-size: 20px;
}
.row {
  margin-right: -15px;
  padding: 0px;
  padding-left: 0;
  margin-left: -15px;
}

#yoyo
{
  margin-top: 24px;
  margin-left: 413px;
  width: 34%;
}

.submit1
{
  background-color: #F04705;
 color:#ffffff;
 width: 120px;
 height: 37px;
 border-radius: 20px;
 box-shadow: 4px 4px 10px #f048059f;
 float: right;
 margin-right: 680px;
 margin-top: 50px;
 border: none;
 border-style: none;
 outline: none;
 font-size: 20px;
 font-family: Monsterrat Regular;
}

/********************LEAD SUBMITTED********************/


.leadhead
{
    width:40%;
    height: 30%;
    margin-top: 60px;
}

.leadhead-profile
{
  width:40%;
  height: 30%;
  margin-top: 60px;
}

.sideimge
{
  width: 700px;
}

/************************FOUR BUTTONS CSS***********/

.events_btn_img {
    background-color: #bfbfbf;
    margin: 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    line-height: 50px;
    border: 7px solid #f04705;
    border-radius: 40px;
    box-shadow: 5px 5px 10px #505ae28e;
    width: 150px;
    height: 50px;
    font-family: Montserrat Regular;
    float: left;
}

.events_btn_img1 {
  background-color: #bfbfbf;
  margin: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  line-height: 50px;
  border: 7px solid #f04705;
  border-radius: 40px;
  box-shadow: 5px 5px 10px #505ae28e;
  width: 250px;
  height: 50px;
  font-family: Montserrat Regular;
  float: left;
}

.ADDimg {
    display: none;
}

.PROJimg {
    display: none;
}

.EXAMimg {
    display: none;
}

.INTimg {
    display: none;
}



.corebtn {
    background-color: #f04705;
    

}



.btn-primary {
    color: #fff;
    background-color: #f04705;
    border-color: #f04705;
    font-family: Montserrate;
}
  .btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: black;
    user-select: none;
    font-family: 'Montserrat';
    background-color: #f04705;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 140%;
    line-height: 1.5;
    border-radius: 10;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 10px;
}

.btn1 {
  display: inline-block;
  font-weight: 400;
  width: 227px;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: black;
  user-select: none;
  font-family: 'Montserrat';
  background-color: #f04705;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 140%;
  line-height: 1.5;
  border-radius: 10;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-left: 10px;
}

.filter-button
{
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Montserrat';
  background-color: #f04705;
  box-shadow: 4px 4px 10px #f048059a;
  padding: .375rem .75rem;
  font-size: 2rem;
  border-radius: 20px;
  height: 5%;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-left: 10px;
  margin-bottom: 1%;
  width: 15%;
  border-style: none;
  outline: none;
}


.clipart-analytics{
    position: fixed;
    width: 550px;
    float: right;
    margin-top: -3%;
    margin-right: -120px;

}

/* .clipart
{
    width: 550px;
    float: right;
    margin-top: 60px;
    margin-right: -120px;
} */

.clipart_ {
  width: 550px;
  float: right;
  margin-top: -6%;
  margin-right: -113px;
}

.clipart_1
{
    width: 490px;
    float: right;
    margin-top: -38px;
    margin-right: -120px;
}
.clipart_2
{
    width: 562px;
    float: right;
    margin-top: -38px;
    margin-right: -120px;
}

.imageContainer {
  
  display: inline-block;
  position: relative;
  text-align: center;
  float:left;
  width: 700px;
  
}
.imageContainer-analytics {
 
  display: inline-block;
  position: relative;
  text-align: center;
  float: left;
  width: 700px;
}

#seg > .btn-default {
  background:transparent;

}


#seg > .btn
{
  color: #6c63ff;
  border-color: #6c63ff;
}

#mydiv
{
  margin-left: 17%;
  margin-top: -4%;
}

#mydiv > .btn-default {
  background:transparent;

}

#mydiv > .btn
{
  color: #6c63ff;
  border-color: #6c63ff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 8%;
  text-align: left;
  list-style: none;
  background-color:#F2F3FE; /* here */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 6%;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

#mydiv > .dropdown-menu {
  background: #ffffff;
}

.text {
    position: absolute;
    top: 35%;
    left: 27%;
    font-size: 20px;
    font-family: Montserrat Regular;
    color: #000000;
}

.status 
{
    position: absolute;
    top: 35%;
    left: 70%;
    
}

.submit
{
    background-color: #5059E2;
   color:#ffffff;
   width: 100px;
   height: 25px;
   border-radius: 10px;
   
   box-shadow: 3px 3px 8px #505ae294;
   float: right;
   border: none;
}


/********************lead assigned***************************/




.clipart {
  width: 447px;
  float: right;
  margin-top: -295px;
  margin-right: -23px;
}

.clipart1
{
    width: 450px;
    float: right;
    margin-top: 20px;
    margin-right: -63px;
}

.clipart2
{
    width: 450px;
    float: right;
    margin-top: -7px;
    margin-right: -70px;
}


.clipart3
{
    width: 344px;
    float: right;
    margin-top: -39px;
    margin-right: 31px;
}
.clipart4
{
    width: 462px;
    float: right;
    margin-top: 7px;
    margin-right: -97px;
}

.imageContainer {
  
    display: inline-block;
    position: relative;
    text-align: center;
    float:left;
    width: 700px;
    
 }

.text {
    position: absolute;

    font-family: Montserrat Regular;
    top: 23%;
    left: 20%;
    font-size: 15px;
    color: #6c63ff;

}

.text1 {
  position: absolute;
  top: 23%;
  left: 40%;
  font-size: 15px;
  font-family: Montserrat Regular;
  color:#6c63ff;
}

.text2 {
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 15px;
  font-family: Montserrat Regular;
  color:#6c63ff;
}

.text3 {
  position: absolute;

  top: 40%;
  left: 40%;
  font-size: 15px;
  font-family: Montserrat Regular;
  color: #6c63ff;
}

.text4 {
  position: absolute;
  top: 54%;
  left: 20%;
  font-size: 15px;
  font-family: Montserrat Regular;
  color: #6c63ff;
}

.text5 {
  position: absolute;
  top: 54%;
  left: 40%;
  font-size: 15px;
  font-family: Montserrat Regular;
  color:#6c63ff;
}

.status 
{
    position: absolute;
    top: 25%;
    left: 70%;
    
}

.status1 
{
    position: absolute;
    top: 50%;
    left: 70%;
    
}


.update 
{
  background-color: #6c63ff;
  color: #ffffff;
  border-radius: 10px;
  border-color: #6c63ff;
}



.export1
{
  background-color: #f04705;
  border-color: #f04705;
  border-radius: 10px;
  height: 80%;
  width: 10%;
  color: #fff;
  margin-top: 8%;
  position: absolute;
  margin-left: 10%;
}


/*************************ADMIN**************************/

.export 
{
  background-color: #f04705;
  height: 4%;
  width: 10%;
  color: #fff;
  margin-top: -4%;
  position: fixed;
  left: 61%;
  border-radius: 20px;
  font-size: 1.5rem;
  box-shadow: 3px 3px 8px #f0480571;
  border-style: none;
  outline: none;
}
.export_adm 
{
  background-color: #f04705;
  height: 35%;
  width: 15%;
  color: #fff;
  margin-top: 70%;
  margin-bottom: 10%;
  position: absolute;
  margin-left: 40%;
  border-radius: 20px;
  font-size: 1.5rem;
  box-shadow: 3px 3px 8px #f0480571;
  border-style: none;
  outline: none;
}




.imageContainer1 {
  
  display: inline-block;
  position: relative;
  text-align: center;
  
  float: left;
  width: 700px;
  
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  
}


.clipart_ad
{
    width: 450px;
    float: right;
    /*margin-top: -20%;
    margin-left: 5%;*/
    position: fixed;
    top: 34%;
    left: 62%;
}


/**.cust
{
  border-color: #6c63ff;
  box-shadow: 6px 6px #6c63ff;
  font-size: 150%;
  font-family: Monsterrat;
  color: #6c63ff;
  font-weight: 10%;
  width: 50%;
  height: 20%;
  left: 20%;
}*/
.head
{
  font-size: 250%;
  font-weight: bold;
  color:#6c63ff;
  text-underline-position: below;
  font-family: Monsterrat Regular;
  
}
.cust h1
{
  font-size: 150%;
  color: #6c63ff;
  font-family: Monsterrat;
  font-weight: bold;
  left: 10%;
}

.proj h1
{
  font-size: 150%;
  color: #6c63ff;
  font-family: Monsterrat;
  font-weight: bold;
  left: 10%;
}

.detail h1
{
  font-size: 150%;
  color: #6c63ff;
  font-family: Monsterrat;
  font-weight: bold;
  left: 10%;
}

.value h1
{
  font-size: 150%;
  color: #6c63ff;
  font-family: Monsterrat;
  font-weight: bold;
  left: 10%;
}

.segd h1
{
  font-size: 150%;
  color: #6c63ff;
  font-family: Monsterrat;
  font-weight: bold;
  left: 10%;
}

.stat h1
{
  font-size: 150%;
  color: #6c63ff;
  font-family: Monsterrat;
  font-weight: bold;
  left: 10%;
}

.upd h1
{
  font-size: 150%;
  color: #6c63ff;
  font-family: Monsterrat;
  font-weight: bold;
  left: 5%;
}




@media only screen and (max-width: 500px) {

  body{
    overflow-x: hidden;
  }


  .btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    height: 26px;
    width: 204px;
    -ms-user-select: none;
    border: black;
    user-select: none;
    font-family: 'Montserrat';
    background-color: #f04705;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 98%;
    line-height: 0.5;
    border-radius: 10;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 10px;
}

.leadhead
{
  width: 100%;
    margin-left: 14px;
}

.line{
  vertical-align: middle;
    width: 215px;
    margin-left: 15px;
}

.clipart1 {
  width: 235px;
  /* float: right; */
  margin-top: 10%;
  margin-right: 46px;
}
 
.clipart2  {
  width: 193px;
  /* float: right; */
  margin-top: 10%;
  margin-right: 61px;
}
  .clipart3  {
  width: 152px;
  /* float: right; */
  margin-top: 10%;
  margin-right: 102px;
}
  .clipart4 {
  width: 193px;
  margin-top: -17%;
  margin-right: 84px;
}
 

.export1 {
  display: none;  /******************THIS*************/
  background-color: #f04705;
  border-color: #f04705;
  border-radius: 10px;
  height: 15%;
  width: 71%;
  color: #fff;
  margin-top: 141%;
  position: absolute;
  margin-left: 63px;
}

.text {
  position: absolute;
  font-size: 14px;
  font-family: Montserrat Regular;
  top: 27%;
  left: 20%;
  font-size: 12px;
  color: #6c63ff;
}

.text1 {
  position: absolute;
  top: 23%;
  left: 40%;
  font-size: 12px;
  font-family: Montserrat Regular;
  color:#6c63ff;
}

.text2 {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 12px;
  font-family: Montserrat Regular;
  color:#6c63ff;
}

.text3 {
  position: absolute;
  top: 51%;
  left: 40%;
  font-size: 11px;
  font-family: Montserrat Regular;
  color: #6c63ff;
}


 
.status {
  position: absolute;
  top: 25%;
    left: 70%;
}

.status1 
{
    position: absolute;
    top: 50%;
    left: 70%;
    
}


.update 
{
  background-color: #6c63ff;
  color: #ffffff;
  border-radius: 10px;
  border-color: #6c63ff;
}


 
.sideimge {
  width: 316px;
  height: 91px;
}

.imageContainer {
  display: inline-block;
  position: relative;
  text-align: center;
  float: left;
  width: 317px;
  top: 223px;
}



/*************LEAD Submitted***********************************/

.clipart {
  width: 200px;
  float: right;
  margin-top: -110%;
  margin-right: 32px;
}

.clipart_  {
  width: 277px;
  position: revert;
  /* float: right; */
  margin-top: -37%;
  margin-right: 29px;
}

  .clipart_1  {
  width: 250px;
  float: right;
  margin-top: 25px;
  margin-right: 39px;
}

  .clipart_2 {
  width: 286px;
  float: right;
  margin-top: 10%;
  margin-right: 0px;
}

.submit {
  background-color: #6c63ff;
  color: #ffffff;
  width: 60px;
  height: 20px;
  border-radius: 7px;
  border-color: #6c63ff;
  box-shadow: 0.5px 0.5px #6c63ff;
  float: right;
  border: none;
}

 
/***************************************Admin Area***********************************************/

.imageContainer1 {
  display: inline-block;
  position: relative;
  text-align: center;
  float: left;
  top: 194px;
  left: -42px;
  width: 303px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
}


.clipart_ad {
  width: 244px;
  float: none;
  position: absolute;
  left: 0%;
  top: 223px;
}

.btn1 {
  /* display: -webkit-box; */
  /* font-weight: 400; */
  /* color: white; */
  /* text-align: center; */
  height: 25px;
  /* cursor: pointer; */
  width: 190px;
  /* -webkit-user-select: none; */
  /* width: 300%; */
  -moz-user-select: none;
  font-size: 14px;
  -ms-user-select: none;
   
  margin-left: -11px;
  /* line-height: 1.5; */
  border-radius: 10;
  /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
  /* margin-left: 10px; */
}


.filter-button {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  position: absolute;
  -moz-user-select: none;
  margin: top;
  margin-top: 10px;
  -ms-user-select: none;
  border: black;
  user-select: none;
  font-family: 'Montserrat';
  background-color: #f04705;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  height: 24px;
  font-size: 93%;
  border-radius: 10px;
  line-height: 1.5;
  border-radius: 10;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  /* margin-left: 181px; */
}

/******************************************analytic mq mob view****************/

.imageContainer-analytics {
  display: inline-block;
  position: relative;
  text-align: center;
  float: left;
  width: 330px;
  left: 79px;
  top: 223px;
}

.buttons-analytics {
  margin-left: 112px;
  margin-top: 3%px;
}

.clipart_ad {
  width: 244px;
  float: none;
  position: absolute;
  left: 0%;
  top: 188px;
}
  
.clipart-analytics {
  position: revert;
  width: 200px;
  /* float: right; */
  margin-top: -147%;
  margin-right: 15%;
  z-index: -10;
}


.lable {
  margin-top: 35%;
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  font-size: 2rem;
  margin-left: -8%;
}
.leads_sub {
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  width: 5%;
  font-size: 1.5rem;
}
.lable1{
  
  margin-top: 3%;
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  font-size: 2rem;
  margin-left: 25%;
}
.leads_sub1{
  
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  width: 5%;
  font-size: 1.5rem;

}
.lab{
  margin-top: 5%;
  display: block;
  font-family: 'Montserrat', sans-serif;
  color: #5059E2;
  font-size: 2rem;
  margin-left: 30%;

}



.barChart , .barChart1 ,.pieChart
{
  display: none;
}
/* .pieChart {
  position: absolute;
  margin-left: 30%;
  margin-top: 10%;
  height: 30%;
  width: 60%;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #505ae250;
  background-color: #fff;
} */

/**************************profiele area ************************/

.profileimg {
  /* height: 87%; */
  float: right;
  width: 34%;
  margin-right: 95px;
  margin-top: 0%;
  /* margin-bottom: 72px; */
}

.pclip {
  width: 51%;
  height: 32%;
  margin-left: 30%;
  margin-top: 10%;
}
.pclip2 {
  width: 50%;
  height: 9%;
  margin-left: 27%;
  margin-top: 4%;
}


.det h1 , .det2 h1, .det3 h1{
  font-size: 180%;
  font-family: Monsterrat Regular;
  margin-left: 28%;
   margin-top: 0%; 
  color: #6c63ff;
}

.line-profile {
  vertical-align: middle;
  width: 277px;
  margin-left: 91px;
}

.leadhead-profile {
  width: 81%;
  height: auto;
  margin-top: 48px;
  margin-left: 88px;
}


.export 
{
  background-color: #f04705;
  height: 4%;
  width: 10%;
  height: 3%;
  width: 24%;
  color: #fff;
  margin-top: -4%;
  position: revert;
  margin-top: -15%;
  /* position: fixed; */
  left: 79%;
  border-radius: 20px;
  font-size: 1.5rem;
}

/* addd lead */


.addlead {
  width: 67%;
  height: 20%;
  margin-left: 168px;
  margin-top: 40px;
}


.form-control {
  display: block;
  width: 45%;
  height: 34px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: black;
  background-color: #F2F3FE;
  margin-left: 168px;
  background-image: none;
  border-top-style: hidden;
  border-left-style: hidden;
  border-radius: 0%;
  border-bottom-width: medium;
  border-color: none;
}

#addimg {
  display: none;
  float: right;
  /* margin-left: 315px; */
  height: 450px;
  /* left: 15px; */
  margin-top: -200px;
  position: absolute;
  width: 500px;
}

.grp20 {
  margin-top: 20px;
  margin-left: 45%;
  width: 40%;
}

.form-control1 {
  display: block;
  width: 64%;
  height: 34px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  margin-left: -265px;
  color: black;
  background-color: #F2F3FE;
  background-image: none;
  border-top-style: hidden;
  border-left-style: hidden;
  border-radius: 0%;
  border-bottom-width: medium;
  border-color: none;
}


.area {
  position: absolute;
  margin-left: 162px;
  margin-top: 48px;
  background-color: #F2F3FE;
  width: 236px;
  height: 150px;
  border-color: #6c63ff;
  border-radius: 10px;
  font-family: Monsterrat;
  font-size: 20px;
  color: #F04705;
}



.form-control {
  display: block;
  width: 45%;
  height: 34px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: black;
  background-color: #F2F3FE;
  margin-top: 133px;
  margin-left: 168px;
  background-image: none;
  border-top-style: hidden;
  border-left-style: hidden;
  border-radius: 0%;
  border-bottom-width: medium;
  border-color: none;
}

.child {
  margin-left: 127px;
  margin-top: 176px;
}

.submit1 {
  background-color: #F04705;
  color: #ffffff;
  width: 120px;
  height: 37px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px #f048059f;
  float: right;
  margin-right: -21pxx;
  margin-right: 10px;
  margin-top: 50px;
  border: none;
  border-style: none;
  outline: none;
  font-size: 20px;
  font-family: Monsterrat Regular;
}

}